
<div class="well">
  <p>Here is a fun way for you to play with words and definitions! Like a choose your own adventure story, you can decide what your words mena. Is there a word you like? Add it to the word list! Then add your own definitions to the word- real or imaginary!</p>
  <a href="/words_home">Click here to get started!</a>
</div>
