
<div class=" col-md-6 well">
  <h3>Here is a fun way for you to play with words and definitions! Capture the words by entering them, expand the WordDex by adding definitions! For any word you like! Add your own definitions to the WordDex- real or imaginary!</h3>
  <button class="btn"><a href="/words_home">Click here to get started!</a></button>
</div>
<div class="col-md-6 well">
  <img src="start.gif" alt="">
</div>
