<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <title>Worddex</title>
  </head>
  <body class="container">
    <div class="jumbotron">
      <img src="http://fontmeme.com/permalink/170428/93df0bc6209d4726fc693db96920d895.png" alt="pokemon-font" border="0">
      <!-- <h1>Define Them All!</h1> -->
    </div>
    <div class="row">
      <%= yield %>
    </div>
  </body>
</html>
