
<div class="col-md-6 well">
  <h1><%= @word.name %></h1>
  <ul>
    <% @word.definitions.each() do |definition| %>
    <li><a href="/single_definition/<%= definition.id%>"> <%= definition.definition%></a></li>
    <% end %>
  </ul>
</div>
<div class="col-md-6 well enter">
  <form action="/add_definition" method="post">
    <h3>Add a new definition to this word in your worddex:</h3>
    <div class="form-group">
      <input id='word_id' name='word_id' type='hidden' value='<%= @word.id() %>'>
      <label for="definition">Definition:</label>
      <input class="form-control" type="text" name="definition" id="definition">
    </div>
    <button type="submit" name="button">Add</button>
  </form>
  <img src="/pokedex.gif" alt="">
  <button class="btn"><a href="/words_home">Back to the word list!</a></button>
  <a href="/">Clear all and start over</a>
</div>
