
<div class="col-md-6 well">
  <h2>Your 'WordDex'</h2>
  <h3>Click on a word to see your definitions:</h3>
  <ul>
    <% @words.each() do |one_word| %>
    <li><a href="/single_word/<%= one_word.id%>"> <%= one_word.name%></a></li>
    <% end %>
  </ul>
</div>
<div class="col-md-6 well enter">
  <form action="/word_add" method="post">

    <div class="form-group">
      <label for="word_input">Capture a new word!</label>
      <input class="form-control" type="text" name="word_input" id="word_input">
    </div>
    <button type="submit" name="button">Add Word</button>
  </form>
  <img src="capture.gif" alt="">
  <a href="/">Clear all and start over</a>
</div>
