body {
background-image: url(../sky.png);
}
.jumbotron {
  background-color: #ff0c0c;
}
.jumbotron img {
  padding-left: 8%;
}
/*.jumbotron h1 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}*/
h1, h2, h3, h4  {
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 0px #ffffff;
}
a {
  font-weight: bold;
  text-decoration: underline;
  color: #f7fc5f;
  clear: both;
}
li {
text-shadow: 2px 2px 4px #000000;
}
.well {
  background-color: #52aced;
  min-height: 800px;
}
.word_success img {
  padding-left: 28%;
}
.enter img {
  height: 300px;
  width: auto;
}
button {
  margin-top: 3%;
  margin-bottom: 3%;
  color: white;
  background-color: #ff0c0c;
}
.btn a{
  color: white;

}
